body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}

header {
    background: linear-gradient(90deg, #ff5fef, #fcfcfc);
    padding: 350px;
    color: white;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: rgb(215, 54, 83);
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(255, 229, 229);
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 1px;
    border-radius: 20px;
}

.hero {
    background: white;
    padding: 50px 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background: #ea3755;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background: #333;
    color: white;
}



body {
    font-family: 'Arial', sans-serif;
    background: #f1f1f1;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    padding: 20px 100px;
    border-radius: 20px;
    
   
}

.login-container h2 {
    color: #333;
    font-size: 28px;
    margin-bottom: 30px;
}

.login-container .input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
    border: 1px solid #ddd;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
}

.login-container .input-field:focus {
    border-color: #4CAF50;
    background-color: #e8f7e7;
    outline: none;
}

.login-container a {
    width: 100%;
    padding: 10px;
    background-color: #ee4063;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-container a:hover {
    background-color: #dd2eba;
}

.login-container .signup-link {
    display: block;
    margin-top: 20px;
    color: #f70808;
    text-decoration: none;
}

.login-container .signup-link:hover {
    color: #4CAF50;
}




